p {

}

body {
    background:powderblue;
    color: darkblue;
    font-size: 16pt;
    font-family: 'Oswald', sans-serif;
]

h1 {
    font-size: 400%;
    font-weight: bold;
    color: darkblue;
    text-align: center
}





.title {
    font-weight: bold; }