

h1 {
    font-size: 400%;
    font-weight: bold;
    color: darkblue;
    text-align: center;
}

h2 {
    font-size: 150%;
    font-style: bold;
    text-decoration: underline;

}

h3 {
    font-size: 150%;
    font-style: bold;
    text-decoration: underline;
}

body {
    background: powderblue;
    color: darkblue;
    font-size: 16pt;
    font-family: 'Oswald', sans-serif;

nav a {
    display: inline-block;
    border: 2px solid black;

}












